.row
	.col-md-12
		.page-header
			%h1
				%center
					Inscription
.row
	.col-md-2 
	.col-md-8
		.page-header
			%h4
				Veuillez renseigner les informations suivantes : 
				%br
				= form_for @utilisateur_temp do |f|
					%p
						Nom
					= f.text_field :nom
					%br
					%p
						Prénom
					= f.text_field :prenom
					%br
					%p
						Adresse Mail
					= f.email_field :email
					%br
					%p
						Numéro de téléphone
					= f.number_field :telephone
					%br
					%p
						Promotion
					= f.select :promotion, [["2012", "2012"], ["2013", "2013"], ["2014", "2014"], ["2015", "2015"], ["2016", "2016"], ["2017", "2017"], ["2018", "2018"]]
					%br
					%p
						Pseudo
					= f.text_field :pseudo
					%br
					%p
						Mot de Passe
					= f.password_field :pass
					%br
					%p
						Avatar (via url/optionnel)
					= f.url_field :avatar
					%br
					%br
					%br
					.field
						%input{type: "submit", name: "CommitUtilisateur", value: "S'inscrire"}
.row
	%center
		%li
			= link_to 'Retour', annonces_index_path
